.carousel {
    width: 100%;
    height: 500px;
    position: relative;
}
.carousel-item {
    width: 100%;
    height: 100%;
}

.left-control{
    position: absolute;
    top: 50%;
    left: 20px;
}
.right-control{
    position: absolute;
    top: 50%;
    right: 20px;
}