.tag {
    background: var(--primary-color);
    border-radius: 10px;
    display: inline-block;
    color: #fff;
    padding: 2px 20px;
    font-size: 14px;
    font-family: 'Montserrat';
    margin-right: 10px;
}